body {
    overflow-x: hidden;
}

.semestres {
    display: inline;
    margin-left: 2%;
}

.semestres2 {
    margin-left: 55%;
    display: inline;
}

.header-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    background: linear-gradient(rgb(39, 35, 86), rgb(69, 59, 175));
}

.header-content .titulo {
    text-align: center;
    flex: 1;
}

.logo-imagem {
    width: 110px;
    height: auto;
}

.semestres-container {
    margin-bottom: 30px;
}

.semestres-content {
    display: flex;
    justify-content: space-between;
    position: relative;
}

.primeiro_semestre,
.segundo_semestre {
    flex: 1;
}

.semestres-content a {
    text-decoration: none;
    color: #000;
    display: block;
    padding: 10px;
    height: 30px;
    width: 90%;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin: 5px 0;
}

.linha_vertical {
    width: 2px;
    background-color: black;
    position: absolute;
    left: 50%;
    top: 0;
    bottom: 0;
}
.curriculares{
    font-family: "Copperplate", Fantasy;
    font-size: 25px;
}