h1 {
    text-align: center;
}


.butao{
    background-color: aqua;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 160px;
    height: 100px;
    margin-left: 2px;
    margin-right: 2px;
    transition: background-color 1s, width 1s;
    cursor: pointer;
}
.butao:hover{
    background-color: rgba(94, 93, 93, 0.644);
    width: 135px;
}


