body {
    margin: 0;
    font-family: Arial;
    background-color: rgb(159, 151, 247);
    overflow-x: hidden; 
}

.header-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    width: 100%; 
    background: linear-gradient( rgb(39, 35, 86), rgb(69, 59, 175));
}

.logo {
    margin-right: 20px;
}

.logo-image {
    height: 100px; 
    width: auto;
}

.titulo {
    margin: 0;
    flex-grow: 1; 
}

.linha_border {
    border-bottom: 3px solid rgb(29, 26, 65);
}

header {
    text-align: center;
}

.butao {
    background-color: rgb(69, 59, 175);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 180px;
    height: 80px;
    margin-left: 2px;
    margin-right: 2px;
    transition: background-color 5s, width 1s;
    cursor: pointer;
    border: 2px solid rgb(18, 16, 39);
}

.butao:hover {
    background-color: rgba(69, 59, 175 , 1);
    width: 140px;
}

.pesquisa {
    position: relative;
    text-align: center;
}

.pesquisar_caixa {
    position: absolute;
    top: 50%;
    left: 160px; 
    transform: translateY(-50%);
    font-family: Arial;
    font-size: 26px;
    color: #470000;
    transition: .5s;
    z-index: 1; 
}

.input_pesquisa {
    padding: 10px;
    padding-left: 20px;
    width: 200px;
    height: 40px;
    background-color: rgb(69, 59, 175);
    border: 4px solid rgb(29, 26, 65);
    border-radius: 50px;
    box-sizing: border-box;
    font-family: Arial;
    font-size: 26px;
    color: #350101;
    outline: none;
    transition: .5s;
}

::placeholder {
    color: rgba(255, 255, 255, 0.644);
    opacity: 90%; 
}

.pesquisa:hover .input_pesquisa {
    width: 350px;
    background: rgb(69, 59, 175);
    border-radius: 10px;
}

.barra_opcao {
    display: flex;
    align-items: flex-start;
}

.buttons-container {
    display: flex;
    flex-direction: column;
}

.filiacoes{
    margin-top: 70px;
    font-size:20px;
}

.filiacoestexto {
    margin-right: 20px;
    flex-direction: column;
    align-items: flex-start;
}

.logo_filiacao {
    margin-top: 15px;
    display: flex;
    align-items: center; 
}

.logo_crossbow {
    margin-top: 20px;
    display: flex;
    align-items: center; 
}

.logo-paragrafo-img {
    height: 100px;
    width: auto;
    margin-right: 10px; 
}

.logo-ifaa {
    height: 40px;
    width: auto;
    margin-right: 10px; 
}

.logo-ibep{
    height: 22px;
    width: auto;
    margin-right: 10px; 
}

.logo-iau{
    height: 70px;
    width: auto;
    margin-right: 10px; 
}

.logo-wcsa{
    height: 90px;
    width: auto;
}
.clubestexto{
    margin-top: 80px;
    margin-left: 70px;
    margin-right: 100px;
    height: 500%;
}
.footer {
    text-align: center; 
    justify-content: space-between;
    color: white;
    padding: 10px;
    width: 100%; 
    background: linear-gradient( rgb(39, 35, 86), rgb(69, 59, 175));
}   


a {
    text-decoration: none; /* Remove o sublinhado padrão para todos os links */
    color: inherit; /* Mantém a cor padrão dos links */

}

a:hover {
    text-decoration: underline; /* Adiciona o sublinhado apenas quando o mouse está sobre o link */
    
}
.logoclubes{
    margin-top: 50px;
    height: 100px;
    width: auto;
    margin-right: 10px; 
}
