body {
    margin: 0;
    font-family: Arial;
    background-color: rgb(159, 151, 247);
    overflow-x: hidden;
}

.header-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    width: 100%;
    background: linear-gradient(rgb(39, 35, 86), rgb(69, 59, 175));
}

.logo {
    margin-right: 20px;
}

.logo-image {
    height: 100px;
    width: auto;
}

.titulo {
    margin: 0;
    flex-grow: 1;
}

.linha_border {
    border-bottom: 3px solid rgb(29, 26, 65);
}

header {
    text-align: center;
}

.butao {
    background-color: rgb(69, 59, 175);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 180px;
    height: 80px;
    margin-left: 2px;
    margin-right: 2px;
    transition: background-color 5s, width 1s;
    cursor: pointer;
    border: 2px solid rgb(18, 16, 39);
}

.butao:hover {
    background-color: rgba(69, 59, 175, 1);
    width: 140px;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.submenu {
    display: none;
    position: absolute;
    left: 180px;
    top: 0;
    background-color: rgb(69, 59, 175);
    border: 2px solid rgb(18, 16, 39);
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    min-width: 180px;
}

.submenu a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.submenu a:hover {
    background-color: rgba(18, 16, 39, 0.8);
}

.dropdown:hover .submenu {
    display: block;
}


.pesquisar_caixa {
    position: absolute;
    top: 50%;
    left: 160px;
    transform: translateY(-50%);
    font-family: Arial;
    font-size: 26px;
    color: #470000;
    transition: .5s;
    z-index: 1;
}

.input_pesquisa {
    padding: 10px;
    padding-left: 20px;
    width: 200px;
    height: 40px;
    background-color: rgb(69, 59, 175);
    border: 4px solid rgb(29, 26, 65);
    border-radius: 50px;
    box-sizing: border-box;
    font-family: Arial;
    font-size: 26px;
    color: rgb(29, 26, 65);
    ;
    outline: none;
    transition: .5s;
}

.pesquisar_caixa1 {
    position: absolute;
    top: 50%;
    left: 160px;
    transform: translateY(-50%);
    font-family: Arial;
    font-size: 26px;
    color: #470000;
    transition: .5s;
    z-index: 1;
}

.input_pesquisa1 {
    padding: 10px;
    padding-left: 20px;
    width: 200px;
    height: 40px;
    background-color: rgb(69, 59, 175);
    border: 4px solid rgb(29, 26, 65);
    border-radius: 50px;
    box-sizing: border-box;
    font-family: Arial;
    font-size: 26px;
    color: rgb(29, 26, 65);
    outline: none;
    transition: .5s;
}


.pesquisa1:hover .input_pesquisa1 {
    width: 350px;
    background: rgb(69, 59, 175);
    border-radius: 10px;
}


::placeholder {
    color: rgba(255, 255, 255, 0.644);
    opacity: 90%;
}

.pesquisa:hover .input_pesquisa {
    width: 350px;
    background: rgb(69, 59, 175);
    border-radius: 10px;
}

.barra_opcao {
    display: flex;
    align-items: flex-start;
}

.buttons-container {
    display: flex;
    flex-direction: column;
}

.filiacoes {
    margin-top: 70px;
    font-size: 20px;
}

.descricao {
    padding: 10px;
    max-width: 50%;
    margin-right: auto;
    margin-left: 200px;
    margin-top: 40px;
    font-family: Arial;
    font-size: 20px;
}


.filiacoestexto {
    margin-right: 20px;
    flex-direction: column;
    align-items: flex-start;
}

.logo_filiacao {
    margin-top: 15px;
    display: flex;
    align-items: center;
}

.logo_crossbow {
    margin-top: 20px;
    display: flex;
    align-items: center;
}

.logo-paragrafo-img {
    height: 100px;
    width: auto;
    margin-right: 10px;
}

.logo-ifaa {
    height: 40px;
    width: auto;
    margin-right: 10px;
}

.logo-ibep {
    height: 22px;
    width: auto;
    margin-right: 10px;
}

.logo-iau {
    height: 70px;
    width: auto;
    margin-right: 10px;
}

.logo-wcsa {
    height: 90px;
    width: auto;
}

.clubestexto {
    margin-top: 80px;
    margin-left: 70px;
    margin-right: 100px;
    height: 500%;
}

.footer {
    text-align: center;
    justify-content: space-between;
    color: white;
    padding: 10px;
    width: 100%;
    background: linear-gradient(rgb(39, 35, 86), rgb(69, 59, 175));
}


a {
    text-decoration: none;
    color: inherit;

}

a:hover {
    text-decoration: underline;

}

.logoclubes {
    margin-top: 50px;
    height: 100px;
    width: auto;
    margin-right: 10px;
}

.subtitle {
    font-size: 20px;
    font-family: Arial;
    margin-top: 50px;
}

.organizarcontacto {
    font-size: 15px;
    font-family: Arial;
    margin-bottom: 40px;

}

.fixfuncoes {
    margin-top: 30px;
}

.tabela-membros table {
    width: 100%;
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    min-width: 400px;
    border-radius: 5px 5px 0 0;
    overflow: hidden;
    margin-top: 50px;
}

.tabela-membros th,
.tabela-membros td {
    padding: 12px 15px;
    text-align: left;
    border-bottom: 1px solid #dddddd;
}

.tabela-membros th {
    background-color: rgb(69, 59, 175);
    color: #ffffff;
    text-align: center;
}

.tabela-membros tr:last-of-type {
    border-bottom: 2px solid rgb(69, 59, 175);
}

.fixemail {
    margin-bottom: 20px;
}